/nbproject/private/
src/submodules/*
build/api/*
build/code-browser/*
build/coverage/*
build/logs/*
build/pdepend/*
build/phpdox/*
cache.properties
src/vendor/*
src/composer.lock
src/runners/logs/*.log
src/queues/logs/*.log
/.sonar/
.DS_Store
