#
# this file provides configuration for Travis Continuous Integration
# written by Sam-Mauris Yong
#

language: php
php:
  - 5.3
  - 5.3.3
  - 5.4
before_script:
  - composer install
script: phpunit -c phpunit.xml.dist
after_script:
  - git clone https://github.com/packfire/pdc.git
  - php pdc/pdc src
