<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true" 
    stopOnFailure="false" 
>
    <php>
        <server name="SERVER_NAME" value="http://example.com" />
    </php>
    <testsuites>
        <testsuite name="MainTests">
            <directory suffix=".php">./</directory>
        </testsuite>
    </testsuites>
</phpunit>